network-chat.pro.user
build
moc_*

build-SecureChat-Desktop-Debug
build-SecureChat-Desktop-Release
SecureChat_autogen
CMakeFiles
UI/SecureChat/cmake_install.cmake
UI/SecureChat/CMakeCache.txt
UI/SecureChat/SecureChat
UI/SecureChat/SecureChat.cbp
